Inference
jupyter/model/1. MLP/Tensorboard
jupyter/model/2. CNN/Tensorboard
dataloader/__pycache__
Tensorboard
main.ipynb
data/
network/GAN/__pycache__/
network/__pycache__/
train/CNN/AlexNet/__pycache__/
train/CNN/LeNet5/__pycache__
network/CNN/__pycache__/
network/CNN/__pycache__/
main.py